name: Update Reddit Data

on:
  schedule:
    # 0,30 = Läuft zur vollen und zur halben Stunde
    # 5-22 = Von 05:00 UTC bis 22:59 UTC
    # Entspricht in DE: 06:00 Uhr morgens bis 23:59 Uhr nachts
    - cron: '0,30 5-22 * * *'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

      - name: Run Scraper
        run: python scrape.py

      - name: Commit and Push
        run: |
          git config --global user.name "actions-user"
          git config --global user.email "actions@github.com"
          if [ -f index.html ]; then
            git add index.html
            # Verhindert Fehler, falls keine neuen Reddit-Posts gefunden wurden
            git commit -m "Update Reddit Data (Scheduled)" || echo "Keine Änderungen"
            git push
          else
            echo "Fehler: index.html wurde nicht erstellt!"
            exit 1
          fi
